*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Regular', sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

#identite2{
    display: block;
    margin: auto;
    font-size: clamp(2rem,6vw,8rem);
    color: white;
    text-shadow: 0.5px 0.5px rgb(96, 94, 94);
}

.identite-compte{
    display: block;
    margin: 0 auto;
    font-size:6vw;
    color: white;
    font-weight: bold;
    text-shadow: 0.5px 0.5px rgb(96, 94, 94);
}

.metier {
    font-size: 30px;
    font-weight: bold;
}

table{
    padding: 0 15%;
}

.titre-real{
    padding: 2vh 15%;
}

.container_profil {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 15%;
    padding-top: 10%;
}

td {
    width: clamp(5vh,30vh,35vh);
    height:clamp(10vh,24vh,25vh) ; 
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.profil {
    width: clamp(8rem,18vw,14rem);
    height:clamp(8rem, 18vw, 14rem);
    border-radius: 100%;
    z-index: 100;
    position: relative;
    top: clamp(4rem,8vw,6rem);
    left: 10%;
    box-shadow: 0.2px 0.2px 1.5px rgb(116, 114, 114);
    display: flex;
    justify-content: flex-end;
}

.mon-metier{
    width: 50%;
}

.container_titre {
    padding-left: 8%;
    padding-top: 4%;
}

.ouvrages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.container_real{
    padding: 2vh;
    width: 100%;
}

.realisations{
    padding: 12px 18px;
    background-color: #0b4860;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s ease;
    margin-top: 10px;
    display: inline-block;
}

.realisations i{
    font-size: small;
    padding: 0 2px;
    color: white;
}

.ajout{
    width: clamp(3rem,3vw,10rem);
    height: clamp(3rem,3vw, 10rem);
    border-radius: 100%;
    background-color: orange;
    border: solid 4px white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}
table{
    width:60rem;
   background-color: #08334449;
    margin: auto;
    
}
.ajout i{
    font-size: 20px;
    color: white;
}

.cellule{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

td img{
    width: 100% ;
    height: 100%;
    padding: 1vh 0;
}

hr {
    padding: 4vh 0;
}

.realisations {
    font-size: clamp(0.7rem, 2vw, 1rem);
}

#identite {
    font-size: clamp(0.9rem, 1.5vw, 1.5rem);
    align-self: center;
    padding-top: 5vh;
    font-weight: bold;
}

#metier,
#qualification {
    font-size: clamp(0.8rem, 2vw, 1rem);
    max-width: 400px;
    text-align: justify;
    padding: 0 1vh;
}

.retour {
    width: 3rem;
}

.box{
    width: 100%;
    display: flex;
    min-height: 70vh;
}
#modalImg{
    width: 60vh;
    display: block;
    margin: auto;
    align-self: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.submit{
    margin: 10px;
    border: none;
    background-color: rgba(171, 177, 171, 0.371);
    font-weight: bolder;
    box-shadow: 0.5px 0.5px 1.5px rgba(134, 131, 131, 0.449);
    border-radius: 2px;
    font-size: 14px;
    padding: 5px;
}

footer{
    background-color:#083344;
    width: 100%;
    display: flex;
    padding: 2vh 20vh;
    color: white;
    justify-content: space-between;
}

footer li{
    padding: 10px 0;
    list-style: none;
}

@media (max-width:450px) {
    .container_profil{
        padding-top: 3rem;
    }
}
