*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: 0;
    border: none;
    color: rgb(202, 196, 196);
    font-family: 'Gilroy-Bold', sans-serif;
        font-family: 'Gilroy-Heavy', sans-serif;
        font-family: 'Gilroy-Light', sans-serif;
        font-family: 'Gilroy-Medium', sans-serif;
        font-family: 'Gilroy-Regular', sans-serif;
}
body{
   /* background-color: rgb(0, 0, 0); */
background-image: linear-gradient(to right, blue, rgb(6, 6, 113), black);
   height: 100vh;
 
 
}
form{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
label{
    display: block;
    margin-top: 1vh;
  
}
.box{
 padding:2rem 5rem;
    background-color: rgba(120, 120, 118, 0.349);
    background-blend-mode:overlay ;
    margin-top: 2rem;
    border-radius: 4px;
    border: solid 0.01px rgb(154, 154, 154);
    backdrop-filter: blur(10000px);
   }
   label,input{
    border-radius: 2px;
   }
   input{
    width: 14rem;
    height: 3.5vh;
    margin-top: 5px;
   }
   input[placeholder]{
    text-align: center;
   }
   #bouton{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   button{
    /* width: 6vw; */
   padding:1vh 2.5vh;
   border-radius: 5px;
   
   box-shadow: 0.5px 0.5px 1px rgb(54, 54, 54);
   background-color: rgb(33, 174, 33);
   color:white;
   }
   h1{
    text-align: center;
    color: orange;
    margin-top: 4vh;
   }
   button:hover{
    background-image: linear-gradient(to right,green);
    background-blend-mode: overlay;
    background-color: rgba(111, 117, 117, 0.322);
   }
    